.main-block {
    border: 1px solid black;
    width: 1000px;
    height: 600px;
    padding: 20px;
}

.inline-block {
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 100px;
    background-color: darkmagenta;
}