.profile-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.App > div:nth-child(3) > .profile-pic {
  border-radius: 0px;
}

.add-color {
  display: flex;
  margin-top: 50px;
}

.book-container {
  width: 300px;
}

.book-poster {
  width: 300px;
  height: 500px;
  object-fit: cover;
}

.book-spec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-name {
  font-size: 24px;
  margin: 0;
}

.book-rating {
  font-size: 18px;
  font-weight: bold;
}

.book-summary {
  margin-top: 0;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  margin-top: 50px;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
  margin-top: 50px;
}

.book-detail-container {
  max-width: 900px;
}

.icon-style {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.full-game {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
}
.game-box {
  width: 12rem;
  height: 12rem;
  border: 1px solid black;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 8rem;
  align-items: center;
  cursor: pointer;
}
